ale-py==0.8.1
array-record==0.4.1
astunparse==1.6.3
atari-py==0.2.9
AutoROM[accept-rom-license]==0.6.1
charset-normalizer==3.3.2
gymnasium[atari]==0.29.1
gymnasium==0.29.1
h5py==3.11.0
keras==2.15.0
keras-rl2==1.0.4
matplotlib==3.9.0
numpy==1.25.2
Pillow==10.3.0
protobuf==3.20.3
pygame==2.6.0
tensorboard==2.15.0
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.15.0
opencv-python==4.9.0.80
scikit-learn==1.5.0
scipy==1.11.4
GPy
gpyopt
gensim==4.3.3
tensorflow-datasets==4.9.2
tensorflow-hub==0.15.0
transformers==4.44.2
pandas==2.2.2
jedi
pycairo==1.20.1
argcomplete==1.9.4
grpcio-status==1.46.0
tf-keras==2.15.0
ml-dtypes==0.2.0
